.linkable {
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 4rem;
    margin: 0.5rem 0;
    border-radius: 0 px !important;
    background-color: #fff !important;
    border: 1px solid #000 !important;
}

.linkable:hover {
    background-color: #ccc !important;
    color: #000 !important;
}

.linkable-span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: #000;
}

.profile-page {
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,177,187,1) 37%, rgba(19,198,277,1) 74%, rgba(0,212,255,1) 100%);
}